// _Variables

$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

/* Colors */

$blue:#254561;
$lightBlue:#4d98b8;
$blueMenu: #347ca5;
$lightGreen:#509796;
$yellow:#e9a43d;
$red:#d66a5b;
$grey:#303030;
$bgGrey:#f2f2f2;
$greyText:#5b5b5b;
$white:#fcfcfc;

/* !Colors */